*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/

db.sqlite3
media/

.vscode/
.pycharm/
.idea/
*.iml

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

venv/
.venv/
env/
*.env

*.log.venv/
__pycache__/
*.pyc
data_scripts/event_scraping/events_out.csv
